.arc-color {
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1;
  border-radius: 0.375rem;
}

.arc-color > span {
  opacity: 0;
  color: black;
  font-size: 1.5rem;
  font-weight: 800;
  transition: opacity 50ms ease-in-out;
}

.arc-color[aria-label="Color 5"] > span {
  color: white;
}

.arc-color:hover > span,
.arc-color:focus > span {
  opacity: 1;
}